mixin preview-item(article)
  li.preview__item(class={"preview__item--noimage": !article[ArticleKey.PICTURE]})
    ul.preview__breadcrumbs
      each category in article[ArticleKey.CATEGORIES]
        li.preview__breadcrumbs-item
          a.preview__breadcrumbs-link(href=`${AppRoute.CATEGORY}/${category[CategoryKey.ID]}`) #{category[CategoryKey.NAME]}
    if article[ArticleKey.PICTURE]
      .preview__background
        img.preview__background-image(src=`/img/${article[ArticleKey.PICTURE]}` width="460" height="240" alt=article[ArticleKey.TITLE])
    time.preview__time(datetime=article[ArticleKey.CREATED_DATE])
      | #{humanizeDate(article[ArticleKey.CREATED_DATE])}
    h3.preview__name
      a.preview__name-link(href=`${AppRoute.ARTICLES}/${article[ArticleKey.ID]}`)
        | #{truncateString(article[ArticleKey.TITLE])}
    if article[ArticleKey.ANNOUNCE]
      p.preview__text #{article[ArticleKey.ANNOUNCE]}
    a.preview__comment(href=`${AppRoute.ARTICLES}/${article[ArticleKey.ID]}#comments`)
      | Комментарии
      span.preview__cloud
      b.preview__comment-count &nbsp;#{article[ArticleKey.COMMENTS].length}
