extends /layouts/admin.pug

block content
  main.main-page.main-page--padding
    section.main-page__category.category
      h1.category__title Категории
      .category__add-form
        form(action=AppFormAction.ADD_CATEGORY method="POST")
          input#add-form-add-category(type="text" name="add-category" placeholder="Новая категория")
          label(for="add-form-add-category")
            span.visually-hidden Добавить категорию
          button.category__button.button.button--category(type="submit") Добавить
      if categories.length
        ul.category__list
          each category in categories
            li.category__list-item
              form(action=AppFormAction.EDIT_CATEGORY method="POST")
                - const elId = `${FormElementKey.CATEGORY}-${category[CategoryKey.ID]}`;
                label(for=elId)
                  span.visually-hidden Редактировать категорию
                input(id=elId type="text" name=FormElementKey.CATEGORY value=category[CategoryKey.NAME])
                button.category__button.button.button--category(type="submit") Сохранить
                button.category__button.button.button--category(type="button") Удалить
