extends /layouts/admin.pug

block content
  mixin publication-item(comment)
    -
      const user = comment.users;
      const avatar = user.avatar ? `/img/${user.avatar}` : "/img/icons/smile.svg";
      const fullName = `${user.firstName} ${user.lastName}`;
      const createdDate = comment.createdDate;
      const url = `/articles/${comment.articles.id}#comment-${comment.id}`
      const title = comment.articles.title;
      const text = comment.text;

    li.publication__list-item
      .publication__header
        img.publication__list-image(src=avatar width="20" height="20" alt="Аватар пользователя")
        b.publication__list-name= fullName
        time.publication__item-time(datetime=createdDate) #{humanizeDate(createdDate, true)}
      a.publication__item-text(href=url) #{text}
      p.publication__text-strong #{title}
      button.publication__button.button.button--close-item(type="button")
        span.visually-hidden Удалить

  main.main-page.main-page--padding
    if comments.length
      section.main-page__publication.publication
        h1.publication__title Комментарии
        ul.publication__list
          each comment in comments
            +publication-item(comment)
      .publication__toggle-wrapper
        +pagination(page, totalPages).publication__pagination
    else
      include /partials/common/empty.pug
