head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width,initial-scale=1")
  meta(name="description" content=DESCRIPTION)
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  title #{TITLE}
  each resource in PRELOAD
    link(rel="preload" href=resource.href as=resource.as crossorigin="anonymous")
  each style in STYLES
    link(rel="stylesheet" href=style)
