extends /layouts/default.pug

block content
  -
    const hasResult = query && !results.length;

    const formatResult = (result, query) => {
      const startIndex = result.indexOf(query);
      const endIndex = startIndex + query.length;
      return `${result.slice(0, startIndex)} <b>${query}</b>${result.slice(endIndex)}`;
    };

  main
    section.search-page
      .search-page__wrapper(class={"search-page__wrapper--empty": hasResult})
        h1 Поиск
        .search.search-page__form
          form(action=FormAction.SEARCH method="get")
            label
              input(type="text" name="query" placeholder="Что ищем?" value=query)
            button.search__button.button.button--transparent(type="submit") Найти
          if results.length
            each article in results
              .search__result
                time.search__date(datetime=article.createdDate) #{article.createdDate}
                a.search__link(href=`${AppRoute.ARTICLE}/${article.id}`)!= formatResult(article.title, query)
        if hasResult
          p.search-page__empty Ничего не нашлось
