section#comments.post__comments.comments
  h2.comments__title.title.title--middle #{article[ArticleKey.COMMENTS].length ? "Комментарии" : "Комментарии отсутствуют"}
  if article[ArticleKey.COMMENTS].length
    ul.comments__list
      each comment in article[ArticleKey.COMMENTS]
        li.comments__comment(id=`comment-${comment[CommentKey.ID]}`)
          .comments__avatar.avatar
            img(src=`/img/${comment[CommentKey.USER][UserKey.AVATAR]}` alt="аватар пользователя")
          .comments__text
            .comments__head
              p #{comment[CommentKey.USER][UserKey.FIRST_NAME]} #{comment[CommentKey.USER][UserKey.LAST_NAME]} •
              time.comments__date(datetime=comment[CommentKey.CREATED_DATE])
                | #{humanizeDate(comment[CommentKey.CREATED_DATE], true)}
            p.comments__message #{comment[CommentKey.TEXT]}
  case account.type
    when UserType.ADMIN
    when UserType.USER
      .comments__footer.comments__footer--user
        form(action=AppFormAction.ADD_COMMENT method="POST")
          .comments__avatar.avatar
            img(src="/img/avatar-2.png" alt="аватар пользователя")
          label
            textarea(rows="1" name="message" placeholder="Присоединиться к обсуждению")
          button.comments__button.button.button--colored(type="submit") Опубликовать
      if false
        p.comments__error Сообщение не может быть пустым, напишите что-нибудь!
    default
      .comments__footer.comments__footer--visitor
        a.comments__button.button.button--colored(href=AppRoute.LOGIN) Войти
        .comments__registration
          p.text.text--signature
            b.title.title--small Регистрация
            | Чтобы присоединиться к переписке нужно зарегистрироваться
