section#comments.post__comments.comments
  h2.comments__title.title.title--middle #{article[ArticleKey.COMMENTS].length ? "Комментарии" : "Комментарии отсутствуют"}
  if article[ArticleKey.COMMENTS].length
    ul.comments__list
      each comment in article[ArticleKey.COMMENTS]
        li.comments__comment(id=`comment-${comment[CommentKey.ID]}`)
          .comments__avatar.avatar
            img(src="/img/avatar-1.png" alt="аватар пользователя")
          .comments__text
            .comments__head
              p Евгений Петров •
              time.comments__date(datetime=comment[CommentKey.CREATED_DATE])
                | #{humanizeDate(comment[CommentKey.CREATED_DATE], true)}
            p.comments__message #{comment[CommentKey.TEXT]}
  case account.type
    when UserType.ADMIN
    when UserType.USER
      #comment-form.comments__footer.comments__footer--user
        form(action=`${AppFormAction.ARTICLES}/${article[ArticleKey.ID]}/comments` method="POST")
          .comments__avatar.avatar
            img(src="/img/avatar-2.png" alt="аватар пользователя")
          label
            textarea(rows="1" name=`${CommentKey.TEXT}` placeholder="Присоединиться к обсуждению")
          button.comments__button.button.button--colored(type="submit") Опубликовать
        if validationError
          p.comments__error #{validationError}
    default
      .comments__footer.comments__footer--visitor
        a.comments__button.button.button--colored(href=AppRoute.LOGIN) Войти
        .comments__registration
          p.text.text--signature
            b.title.title--small Регистрация
            | Чтобы присоединиться к переписке нужно зарегистрироваться
